<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yechy.dailypic.mapper.BookmarkMapper">
    <insert id="addBookmark" parameterType="Bookmark">
        insert into bookmark (user_name, pwd, account_id, phone_num)
        values (#{userName}, #{pwd}, #{accountId}, #{phoneNum})
    </insert>
</mapper>